{% extends 'base.html' %}
{% block titulo %}Alquilando — Iniciar Sesión{% endblock %}

{% block contenido %}
<main class="catalogo" style="min-height: 100vh; display: flex; flex-direction: column; justify-content: center; align-items: center;">

    <h2 class="subtitulo-seccion" style="margin-bottom: 20px;">Iniciar Sesión</h2>

    <form action="{{ url_for('login') }}" method="POST" class="form-simple">
        <input type="email" name="email" placeholder="Correo electrónico" required>
        <input type="password" name="password" placeholder="Contraseña" required>
        <button type="submit" class="btn-formulario">Ingresar</button>
    </form>

    <p class="texto-apoyo" style="margin-top: 20px;">
        <a href="{{ url_for('registro') }}" class="texto-claro">¿No tenés cuenta? Registrate acá</a>
    </p>

</main>
{% endblock %}