{% extends 'base.html' %}
{% block titulo %}Alquilando — Registrarse{% endblock %}

{% block contenido %}
<main class="catalogo" style="min-height: 100vh; display: flex; flex-direction: column; justify-content: center; align-items: center;">

    <h2 class="subtitulo-seccion" style="margin-bottom: 20px;">Crear una nueva cuenta</h2>

    <form action="{{ url_for('registro') }}" method="POST" class="form-simple">
        <input type="text"     name="nombre"   placeholder="Nombre completo" required>
        <input type="email"    name="email"    placeholder="Correo electrónico" required>
        <input type="password" name="password" placeholder="Contraseña" required>
        <button type="submit" class="btn-formulario">Registrarse</button>
    </form>

    <p class="texto-apoyo" style="margin-top: 20px;">
        <a href="{{ url_for('login') }}" class="texto-claro">¿Ya tenés cuenta? Iniciá sesión acá</a>
    </p>

</main>
{% endblock %}